<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="aiel" value="https://git.dkw.io/api/packages/tworiversit/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="aiel">
      <package pattern="Aiel.*" />
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <aiel>
      <add key="Username" value="dougw" />
      <add key="Password"
        value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAFFrtITBOk0yiZ1Iu9Pj0PAAAAAACAAAAAAAQZgAAAAEAACAAAAD7whe6ycqJjALeTY/0vrthtoUl1/lh4iN9xWSjCr5XiQAAAAAOgAAAAAIAACAAAABY4Rdu7TW0rFx2cNoeXVoMfir9DVw3iKyrXFaDiBCh8zAAAACWs0p0jv+3Ctaq6MSEfq0P50SUZwRNrhkdQ0TnDJPpLZQt7gFILQQlryeYIMnEihdAAAAAwPp/3HCB8UFiwVAg0dchHG0zIh0softeWAzkhU4udoQZnUH9jeoiPx7OQ49d2LibCjvV8t9ZctUiedcXme70mQ==" />
    </aiel>
  </packageSourceCredentials>
</configuration>
